html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-conteiner{
    display: flex;
    width: 700px;
    height: 300px;
    justify-content: space-between;
}

.flex-conteiner__circle{
    border-radius: 50%;
    background: #DAA520;
    width: 100px;
    height: 100px;
}
.center{
    align-self: center;
}
.end{
    align-self: flex-end;
}